<app-navbar></app-navbar>
<div class="my-5 text-center">
  <app-pdf></app-pdf>
</div>

<h1 class="text-center">notification:{{message | async | json}}</h1>

<div class="m-5">
  <button class="btn btn-primary float-end my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New</button>
  <table class="table border col-sm-6">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>
          <button class="btn btn-primary me-2" (click)="editUser(user.id, user)">edit</button>
          <button class="btn btn-danger" (click)="deleteUser(user)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addUser(userForm.value)" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

